# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: luzeiro_development
  pool: 5
  username: root
  password: root
  host: localhost
test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: luzeiro_test
  pool: 5
  username: root
  password: root
  host: localhost

production:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: luzeiro_production
  pool: 5

