<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chart_of_account.title %>
</p>

<%= link_to 'Edit', edit_chart_of_account_path(@chart_of_account) %> |
<%= link_to 'Back', chart_of_accounts_path %>
