/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*

*= require bootstrap-datepicker
*= require select2
*= require select2-bootstrap
*= require_tree .
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.body{
  margin-top: 80px;
  margin-right: 10px;
  margin-left: 10px;
}

/*TEXTO GRANDE*/

.huge{
  font-size: 40px;
}

.panel-yellow {
  border-color: #f0ad4e !important;
  background: #f0ad4e !important;
  color: #ffffff !important;
}

.panel-green{
  border-color: #5cb85c;
  background: #5cb85c !important;
  color: #ffffff !important;
}

.panel-red{
  border-color: #d9534f;
  background: #d9534f !important;
  color: #ffffff !important;
}

.mudabordaramarelo{
  border-color: #f0ad4e !important;
}

.mudabordarverde{
  border-color: #5cb85c !important;
}

.mudabordarvermelho{
  border-color: #d9534f !important;
}

a{
  color: inherit;
}

a:hover{
  color: inherit;
}

.page-header{
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 2px solid #eee;
}

.centralizado {
  margin: 0 auto;
  float: none;
}

.fundobranco{
  background: #ffffff !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.corfooterpreto{
  background-color: #000000 !important;
  background: #000000 !important;
  color: #fff;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  text-align: center;
}

.espaco{
  padding-top: 10px !important;
}

.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}

.bg-aqua {
  background-color: #2780e3 !important;
  color: #fff !important;
  box-sizing: border-box;
}

.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0,0,0,0.2);
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}

.info-box-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.main-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

.linkfooter{
  color: #2780e3 !important;
}

#aumenntafoneform{
  font-size: 30px;
}