
.table-bordered th{
border-bottom: solid 1px;
font-family: verdana;
font-size: 14px;
}
tbody td{
}
div h1{
  text-align: center;

}

div p{
  line-height: 1.1;
  font-size: 12px;
}
.table-bordered2 th{
background-color:#D3D3D3;
width: 750px;
height: 30px;

}
