<!-- Modal -->
            <div class="modal" id="details" tabindex="-1" role="dialog" aria-labelledby="operationDetails" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>

                    <h4 class="modal-title" id="operationDetails"><i class="text-muted fa fa-user"></i>  </h4>

                  </div>
                  <div class="modal-body">
                  
                   
                
                  </div>
                    
                  <div class="modal-footer">       
                      
                    
                </div>
              </div>
            </div>
            </div>
<!-- fim Modal-->    